@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@100&display=swap');


.main-container{

    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px black;
    
    background: linear-gradient(darkturquoise,darkseagreen);
    height: 55px;
    

}

.main-container h1{

    position: absolute;
    left: 16px;
  
}

.container{

    color:darkseagreen;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px  gray;
    

    position: absolute;
    left: 5px;
    top: 100px;
    width: 45%;
    
    line-height: 30pt;
    letter-spacing: 1pt;     
    

}

.container input
{   
    border:darkturquoise 3px inset;
    border-radius: 15px;
    box-shadow: 7px 7px 10px gray;
}